* {
    box-sizing: content-box;
}
.for_background_body {
    background-color: #d7f7f7;
}

h2 {
    padding: 0px;
    margin: 10px;
}
.coding {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border: 2px solid;
    border-radius: 8px;
}

div .input_code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: auto;
}

.result_code{
    width: 40vw;
    background-color: white;
    margin: 10px 2vw;
    padding: 5px 10px;
    word-wrap: break-word;
}

textarea {
    min-height: 10vh;
    padding: 5px 10px;
}

button.btn.btn-lg.btn-primary{
    margin: 10px;

}

.error_input{
    background-color: #f57f94;
}

.good_result{
    background-color: #8aa45a;
}